# This list of dependencies was generated with `pip3 freeze`

# Logging and parse args
absl-py==1.3.0

# Gym environment
gym==0.25.2
ale-py==0.7.5
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
mujoco==2.2.2
box2d-py==2.3.8
imageio==2.22.2
pyglet==1.5.27
pygame==2.1.2

# PyTorch
torch==2.0.1
torchsummary==1.5.1
torchvision==0.15.2

# Tensorboard
tensorboard==2.13.0
grpcio==1.50.0
protobuf==3.20.3

# Utilities
numpy==1.24.3
opencv-python==4.7.0.72
python-snappy==0.6.1

# Coding styles and others
pre-commit==3.3.2
black==23.1.0
